// app global css in SCSS form
@import 'fontawesome/css/all.css';
@import 'fontawesome/css/sharp-light.css';
@import 'fontawesome/css/sharp-regular.css';
@import 'fontawesome/css/sharp-solid.css';

.my-field {
  color: $blue-10 !important;
  .q-item--active {
    font-weight: 900 !important;
  }
  .q-field__label {
    font-weight: 600 !important;
  }
}
